.mh-100{
    min-height: 100vh;
}
.mh-75{
    min-height: 75vh;
}

.mh-50{
    min-height: 50vh;
}
.mh-30{
    min-height: 30vh;
}


#ikonpasar{
    width:150px;
    height:150px;
}

#ikonpasar:hover{
    width:151px;
    box-shadow: aqua;
}

.bg-brown{
    background-color: rgba(75, 59, 36, 0.7) !important;
}

.bg-blue{
    background-color: rgba(94, 168, 230, 0.6) !important;
}

a{
    text-decoration: none;
}
