.mh-100{
    min-height: 100vh;
}
.mh-75{
    min-height: 75vh;
}

.mh-50{
    min-height: 50vh;
}
.mh-30{
    min-height: 30vh;
}


#ikonpasar{
    width:150px;
    height:150px;
}

#ikonpasar:hover{
    width:151px;
    box-shadow: aqua;
}

.bg-brown{
    background-color: rgba(75, 59, 36, 0.7) !important;
}

.bg-blue{
    background-color: rgba(94, 168, 230, 0.6) !important;
}

.bg-grey{
    background-color: rgba(240, 240, 240, 0.6) !important;
}

a{
    text-decoration: none;
}


.text-lg{
    font-size: 6vw;
}

.text-sm{
    font-size: 2vw;
}

.text-md{
    font-size: 3vw;
}

body{
  height: 100vh;
}

.copyright{
    align-items:flex-end;
    color: white;
    font-size: 18px;
    display:flex;
    justify-content: center;
    height:20vh;
    padding:4px;
    }

